.carrossel_titulo {
  color: var(--laranja);
  /*background-color: var(--branco);*/
  text-align: center;
  text-transform: uppercase; /*deixar tudo maiousculo*/
  font-size: 18px; /*tamanho da font*/
  font-weight: 700; /*negrito*/
  padding: 1em 0 0.5em 0; /*espacamento*/
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none; /*para sumir com objetos automaticos */
}

.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}

.card_descricao {
  display: flex; /*coloca do lado*/
  justify-content: space-between; /*espacamento*/
  margin-bottom: 0.5em; /*espacamento*/
}

.card_botoes {
  display: flex; /*sepapra os elementos*/
  justify-content: space-around; /*separa os elementos*/
}

.botoes{
   display: flex;
}

.card {
   background: var(--branco); /*cor de fundo*/
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*espacamento*/
   border-radius: 10px; /*arredondamento das bordas */
   margin: 1em; /*espacamento*/
   padding: 1em; /*espacamento dos elementos internos*/
}

.descricao_titulo {
   color: var(--laranja); /*cor da font*/
   font-weight: 700; /*peso da font*/
}

.descricao_titulo-livro{
   color: var(--azul); /*cor da font*/
   font-size: 18px; /*tamanho da font*/
   font-weight: 700; /*peso da font*/
   margin: 0.5em 0; /*espacamento*/
}

.descricao_texto {
   font-size: 14px;
}

.minha_imagem1{
   border-radius: 1em;
   width: 162px;
   height: 168px;
}

.minha_imagem{
   width: 162px;
   height: 168px;
}

.botoes_item{
   margin: 0 0.5em;
}

.botoes_ancora {
   background-color: var(--laranja); /*cor de fundo*/
   padding: 1em 2.2em; /*espacamento do botao */
   color: var(--branco); /*coe do texto*/
   font-weight: 700; /*peso da font*/
   text-decoration: none; /*simur com estilo altomatico*/
}

@media screen and (min-width: 1024px) {
   .carrossel_titulo {
      font-size: 26px;
   }

   .swiper-pagination{
      margin: 2em 0 3em 0;
   }

   .swiper{
      width: 60%;
   }

   .swiper-button-prev, .swiper-button-next {
      display: block;
      top: 60%; 
   }

   .card{
      width: 40%; /*altura*/
      margin: 2em auto; /*espacamento*/
   }
}

@media screen and (min-width: 1728px) {
   .carrossel_container{
      display: flex; /*um ao lado do outro */
      margin: 0 20vw 3em 20vw; /**/
      align-items: center;
   }

   .swiper-pagination{
      margin: 1em 0;
   }

   .swiper{
      width: 50%;
   }

   .descricao_texto{
      font-size: 16px;
   }

   .card{
      width: 60%;
      margin-left: 3em;
   }

}