@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /*e um global para evitar repetir codigo*/
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-tercearia: #22d4fd;
  --cor-houver: #272727;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0; /*margem*/
  padding: 0; /*margem em baixo em cima*/
}

body {
  /*height: 100vh; /*altura*/
  box-sizing: border-box;
  background-color: var(--cor-primaria); /*cor de fundo*/
  color: var(--cor-secundaria); /*cor do texto*/
  background-image: url('../assets/b-495.jpg'); /* Adiciona imagem de fundo */
  background-size: cover; /* Garante que a imagem cubra toda a área disponível */
  background-position: center; /* Centraliza a imagem no elemento */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
}

.cabecalho {
  padding: 2% 0 0 15%; /*espacamento cima, deireita, ...*/
  
}

.cabecalho_menu {
  display: flex; /*separar*/
  gap: 80px; /*espacamento*/
}

.cabecalho_menu_link {
  font-family: var(--fonte-secundaria); /*estilo da font*/
  font-size: 1.5rem; /*tamanho da fonte */
  font-weight: 600; /*negrito*/
  color: var(--cor-tercearia); /*cor do texto*/
  text-decoration: none; /*sem decoracao no texto*/
}

.apresentacao {
  /*margin: 10% 15%; /*add uma margem q centraliza os quadros*/
  padding: 5% 15%; /*preenche toda a pagina*/
  display: flex; /*coloca os objetos lado a lado*/
  align-items: center; /*alinha os itens no centro */
  justify-content: space-between; /**/
  gap: 82px; /*espacamento*/
}

.apresentacao_conteudo {
  width: 50%; /*altura*/
  display: flex; /*coloca os obj lado a lado*/
  flex-direction: column; /*coloca os objetos em coluna*/
  gap: 40px; /*coloca espaco entres os objetos*/
}

.apresentacao_conteudo_titulo {
  font-size: 2.25rem; /*tamanho do texto*/
  font-family: var(--fonte-primaria); /*estilo da fonte*/
}

.titulo-destaque {
  color: var(--cor-tercearia); /*cor do texto*/
}

.apresentacao_conteudo_texto {
  font-size: 1.5rem; /*tamanho da fonte*/
  font-family: var(--fonte-secundaria); /*estilo da fonte*/
}

.apresentacao_links {
  display: flex; /*coloca lado a lado*/
  flex-direction: column; /*coloca em cluna*/
  justify-content: space-between; /*centraliza a coluna*/
  align-items: center; /*alinha no centro */
  gap: 32px; /*da espaco em todos os lados*/
}

.apresentacao_links_navegacao {
  /* background-color: #22d4fd; /*coe de fundo do link*/
  display: flex; /*gruda tudo na esquerda*/
  justify-content: center; /*coloca no centro*/
  gap: 16px; /*espacamento*/
  border: 2px solid var(--cor-tercearia); /*borda azul*/
  width: 50%; /*largura*/
  text-align: center; /*centraliza o texto*/
  border-radius: 8px; /*arredonda borda*/
  font-size: 1.5rem; /*tamanho da fonte */
  font-weight: 600; /*negrito*/
  padding: 21.5px 0; /**/
  text-decoration: none; /*tira a decoracao do <a>*/
  /*color: #000000; /*cor do texto*/
  color: var(--cor-secundaria);
  font-family: "Montserrat", sans-serif; /*estilo da font*/
}

.apresentacao_links_navegacao:hover {
  background-color: var(--cor-houver);
  /*tudo que estiver ai dentro vai ser estilizado quando o mouse passar por cima*/
}

.apresentacao_links_subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400; /*negrito*/
  font-size: 1.5rem; /*tamanho da fonte */
}

.apresentacao_imagem {
  border: 5px solid var(--cor-tercearia); /*borda grossa(2px) e azul*/
  border-radius: 40px; /*arredonda borda*/
  width: 50%;
}

.rodape {
  padding: 24px; /*faz a borda*/
  color: var(--cor-primaria); /*cor do texto*/
  background-color: var(--cor-tercearia); /*cor de fundo */
  text-align: center; /*texto vai para o centro*/
  font-family: var(--fonte-primaria); /*estilo da font*/
  font-size: 1.5rem; /*tamanho da letra*/
  font-weight: 400; /*negrito*/
}

@media (max-width: 1200px) {
  /*para adaptar ao celular quando chegar a menos de 1200px */
  .cabecalho {
    padding: 10%; /*espacamento*/
  }

  .cabecalho_menu {
    justify-content: center; /*para centralizar*/
  }

  .apresentacao {
    flex-direction: column-reverse; /*ele troca a ordem dos elementos*/
    padding: 5%; /*espacamento geral*/
  }

  .apresentacao_conteudo {
    width: auto;
  }
}
